*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background: #ededed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    width: 100%;
    text-align: center;
}
header h1{
    background: black;
    color: #ededed;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#instru{
    background-color: rgb(12, 14, 44);
    color: #ededed;
    text-align: center;
    margin-top: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}
#foto{
    margin-top: 0.5em;
    text-align: center;
}
#video{
    padding-top: 0.5em;
    width: 65%;
}
#upload{
    margin-top: 0.5em;
    text-align: center;
}
form{
    margin-top: 0.5em;
    text-align: center;
}
#tabla, #tabla1{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 5vw 0;
    color: #ededed;
}
#creditos{
    padding-top: 1vw;
    background-color: rgb(5, 44, 58);
    padding-bottom: 1vw;
}
#tabla a{
    width: 1vw;
}
#tabla1{
    padding-bottom: 1.5vw;
    background-color: rgb(8, 31, 66);
    width: 100%;
}
#tabla{
    margin-top: 1vw;
}
footer{
    margin-top: 1em;
    text-align: center;
    bottom: 0;
    padding-bottom: 1vw;
    flex: 1;
    width: 100%;
    background-color: rgb(12, 14, 44);
}
#titulos{
    padding-bottom: 1vw;
}
#util{
    text-align: left;
}